<head><link href="https://fonts.googleapis.com/css?family=Cantata+One|Gentium+Basic|Josefin+Sans|Saira&display=swap" rel="stylesheet">
</head>
<body id="body">
        <h3 class="card-title" style="padding-left: 10%;">MANAGING YOUR EXPENSES MADE EASY. COME JOIN US IN OUR JOURNEY.</h3>
       
     <img src="../assets/Home.png"> 
    
 <!-- <div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
          <h3 class="card-title">Book Domestic and International Flights</h3>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type 
      specimen book. It has survived not only five centuries, but also the leap into 
      electronic typesetting, remaining essentially unchanged.<br>
      <button type="button" class="btn btn-primary signUpBtn">
          <a href="signup">SIGN UP</a>
      </button>
      </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
          <h3 class="card-title">Check out the Best Offers Available</h3>
          <div class="row">
              <div class="col-md-3" style="padding: 5px;">
                  <img src="assets/offers.jpg"  height=200px>
              </div>
              <div class="col-md-3" style="padding: 5px;">
                      <img src="assets/offers.jpg" height=200px>
              </div>
              <div class="col-md-3" style="padding: 5px;">
                      <img src="assets/offers.jpg" height=200px>
              </div>
              <div class="col-md-3" style="padding: 5px;">
                      <img src="assets/offers.jpg" height=200px>
              </div>
          </div>
      </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
              <h3 class="card-title">About Us</h3>
              <div class="row">
                  <div class="devCard col-md-4" style="padding: 5px;">
                      <img class="photo" src="assets/user.png"  height=200px><br><br>
                      <h5>Devang</h5>
                      <hr>
                      <span class="info">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          <hr>
                          <a href="https://www.facebook.com/nicklodeon10" class="fa fa-facebook"></a>
                          <a href="https://in.linkedin.com/in/devang-singh-3b6530103" class="fa fa-linkedin"></a>    
                      </span>
                  </div>
                  <div class="devCard col-md-4" style="padding: 5px;">
                      <img class="photo" src="assets/user.png" height=200px><br><br>
                      <h5>Navya</h5>
                      <hr>
                      <span class="info">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          <hr>
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                      </span>
                  </div>
                  <div class="col-md-4" style="padding: 5px;">
                      <img class="photo" src="assets/user.png" height=200px><br><br>
                      <h5>Surya</h5>
                      <hr>
                      <span>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          <hr>
                          <a href="#" class="fa fa-facebook"></a>
                          <a href="#" class="fa fa-linkedin"></a>
                      </span>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                  <h3 class="card-title">Contact Us</h3>
                  <div class="row">
                      Full Name: <br>
                      <input class="form-control" type="text" name="fname"><br>
                      Email Address:<br>
                      <input class="form-control" type="email" name="email"><br>
                      Subject: <br>
                      <input class="form-control" type="text" name="subject"><br> 
                      Message:<br>
                      <textarea class="form-control" name="message"></textarea>      
                  </div>
                  <div class="row">
                      <div class="col-md-3 offset-md-9">
                          <button type="button" class="btn btn-success signUpBtn" (click)="sendMessage()">
                              <a href="#">Send</a>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
</div> -->
<!-- BODY -->
<script>

</script>
</body>

<footer class="footer-area section-gap" style="height: 100px; bottom: 0px;" >
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4>About Us</h4>
						<p>
								“STOP WORRYING ABOUT MANAGING YOUR EXPENSES. WE ARE HERE FOR YOU.”
						</p>
						<p class="footer-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6">
					
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
					<div class="single-footer-widget">
						<h4>Follow Me</h4>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
