h1{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Abel', sans-serif;
}

body, html{
    height: 100%;
  
}

h3{
    opacity: 0.85;
}
/* body#bgimg{
    opacity: 0.2;
} */

.bg{
    height: max-content;
    width: max-content;
}



div{font-size: large; font-weight: 550; font-family: 'Noto Sans TC', sans-serif;}